In [ ]:
#Listas, Tuplas y Diccionarios
semana = ["lunes","martes","miércoles","jueves"]
semana[0]

In [ ]:
#Modificar una posicion
semana[0]= "domingo"
semana

In [ ]:
#Longitud de un elemento
len(semana)

In [ ]:
#Como añadir un elemento a una lista con la funcion append
semana.append("viernes")
semana

In [ ]:
#Inserta un valor en la posicion que le indique
semana.insert(1,"sábado")
semana

In [ ]:
#Contar las veces que aparece un elemento
semana.count("viernes")

In [ ]:
#Eliminar un elemento. con Remove elimina el primer elemento que encuentra
semana.remove("viernes")
print(semana)

In [ ]:
semana.insert(0,"lunes")
semana.append("lunes")
semana

In [ ]:
#Eliminar con DEL busca el elemento en el indice que se le indique
del semana[0]
semana

PRÁCTICA 1:
* Crearemos una lista llamada meses que tendrá los meses de enero a mayo menos abril.  
* Despues añadiremos junio y julio.  
* Incertaremos el mes de abril en su sitio correcto.  
* Añadiremos dos veces mas al final febrero.  
* En una variable almacenaremos el numero de veces que está el mes de febrero.  
* Después eliminaremos los febreros que sobran.  
* Finalmente en un texto nos tiene que mostrar cuantas veces estaba febrero cuando estaban todos.

In [24]:
meses=["enero","febrero","marzo","mayo"]
print(meses)
meses.append("junio")
meses.append("julio")
print(meses)
meses.insert(3,"abril")
print(meses)
meses.append("febrero")
meses.append("febrero")
print(meses)
x = meses.count("febrero")
del meses[-1]
del meses[-1]
print(meses)
print(f"El total de veces que aparecía febrero era {x} veces")

['enero', 'febrero', 'marzo', 'mayo']
['enero', 'febrero', 'marzo', 'mayo', 'junio', 'julio']
['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio']
['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'febrero', 'febrero']
['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio']
El total de veces que aparecía febrero era 3 veces

In [25]:
numeros = [18,67,75,24]
numeros

[18, 67, 75, 24]

In [27]:
numeros2 = range(5)
numeros2
list(numeros2)

[0, 1, 2, 3, 4]

In [29]:
#Utilizo range para decir de donde a donde quiero que me haga la lista
numeros3 = range(10,25)
numeros3
list(numeros3)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [30]:
#Despues de la ultima coma marco el step
numeros4 = range(10,25,2)
numeros4
list(numeros4)

[10, 12, 14, 16, 18, 20, 22, 24]

In [31]:
#Ahora de manera regresiva donde el step es negativo para indicar la direccion, el primer parámetro tiene que ser mayor que el segundo.
numeros5 = range(32,10,-2)
numeros5
list(numeros5)

[32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12]

In [33]:
#Funciones de resumen sobre listas numericas
sum(numeros5)

242

In [35]:
#Ver el valor máximo de la lista
max(numeros4)

24

In [36]:
#Ver el valor mínimo de la lista
min(numeros5)

12

El bucle: Es un codigo que se repite hasta que se cumple una condicion dada.      
Hay de dos tipos:  
* Finitos : tiene un numero determinado de iteraciones.     (BUCLE FOR)
* Infinitos: tiene que tener una condición que indique su final.  (BUCLE WHILE)

In [37]:
#BUCLE FOR
for i in [numeros]:
    print(i)
print("terminado con éxito")

[18, 67, 75, 24]
terminado con éxito

In [44]:
iter = 1
for i in [18,44,61]:
    print(iter)
    print(i)
    iter + = 1   # esto es igual a: iter = iter + 1

1
18
2
44
3
61

In [46]:
iter = 1
for mes in meses:
    print(f"El {iter}, mes del año es {mes}")
    iter +=1

El 1, mes del año es enero
El 2, mes del año es febrero
El 3, mes del año es marzo
El 4, mes del año es abril
El 5, mes del año es mayo
El 6, mes del año es junio
El 7, mes del año es julio

# PRACTICA 2:
* Crear una lista de los meses del año y mediante un bucle for imprimir los meses poniendo el numero del año , solo imprimir los meses pares.

In [79]:
mesestotal = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]

for i in range(1, len(mesestotal), 2):
    print(f"El {i + 1}º mes del año es {mesestotal[i]}")

El 2º mes del año es Febrero
El 4º mes del año es Abril
El 6º mes del año es Junio
El 8º mes del año es Agosto
El 10º mes del año es Octubre
El 12º mes del año es Diciembre

In [76]:
mesestotal = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
iter = 2
for i in [1,3,5,7,9,11]:
    print(f"El {iter}º mes es {mesestotal[i]}")
    iter += 2

El 2º mes es Febrero
El 4º mes es Abril
El 6º mes es Junio
El 8º mes es Agosto
El 10º mes es Octubre
El 12º mes es Diciembre

In [84]:
mesestotal = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
cardinal = ["primer","segundo","tercer","cuarto","quinto","sexto","septimo","octavo","novemo","decimo","undecimo","doceavo"]
iter = 1    
for mes in mesestotal:
    iter+=1

iter = 2
for i in [1,3,5,7,9,11]:
    print(f"El {cardinal[i]} mes es {mesestotal[i]}")
    iter += 2

El segundo mes es Febrero
El cuarto mes es Abril
El sexto mes es Junio
El octavo mes es Agosto
El decimo mes es Octubre
El doceavo mes es Diciembre